{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>WHY Salon</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="fullPage very simple demo." />
  <meta name="keywords"  content="fullpage,jquery,demo,simple" />
  <meta name="Resource-type" content="Document" />
  <link rel="stylesheet" href="{% static "css/flexslider.css" %}?v={{timestamp}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/fullpage.css" %}?v={{timestamp}}">
  <link rel="stylesheet" href="{% static "css/examples.css" %}?v={{timestamp}}">

</head>
<body>

<ul id="menu">
  <div class="logo_div"><img id="logo" style="width: 50%;" src="/static/img/logo.png" /></div>
  <li><a href="#">熱門訊息</a><div name="select_menu"></div><div name="sub_menu" class="sub_menu"><div class="sub_menu_text">最新消息</div><div class="sub_menu_text">熱門活動</div></div></li>
  <li><a href="#">品牌介紹</a><div name="select_menu"></div></li>
  <li><a href="#">髮型專欄</a><div name="select_menu"></div><div name="sub_menu" class="sub_menu"><div class="sub_menu_text">流行趨勢</div><div class="sub_menu_text">媒體報導</div></div></li>
  <li><a href="#">設計師</a><div name="select_menu"></div><div name="sub_menu" class="sub_menu"><div class="sub_menu_text">一館</div><div class="sub_menu_text">二館</div><div class="sub_menu_text">三館</div><div class="sub_menu_text">四館</div></div></li>
  <li><a href="#">造型好物</a><div name="select_menu"></div><div name="sub_menu" class="sub_menu"><div class="sub_menu_text">護髮好物</div><div class="sub_menu_text">洗髮好物</div><div class="sub_menu_text">造型好物</div></div></li>
  <li><a href="#">人才招募</a><div name="select_menu"></div></li>
  <li><a href="#">線上預約</a><div name="select_menu"></div></li>
  <li style=" padding-right: 5%;"></li>
</ul>
<div class="back_top"><img style="width:70%" src="/static/img/back_top.png" /></i></div>
<div id="fullpage">
  
  <div class="section active" id="section0">
    <div style="background-color: #1f1f1f;width:100%;height: 100%">
      <div id="index_font" class="index_font">
        <div class="index_font1"><img style="width: 530px;
  height: 139px;" src="/static/img/index1.png" /></div>
        <div class="index_font2"><img style="width: 260px;
  height: 29px;" src="/static/img/index2.png" /></div>
        <div class="index_font3"><img id="index3" style="width: 260px;
    height: 74px;" src="/static/img/index3.png" /></div>
      </div>
    </div>
  </div>
  <div class="section" id="section1">
      <div class="section_div">
        <header class="page-index-title">
            <h1 class="index_h1">髮型專欄</h1>
        </header>
        <div><img class="title_img" src="/static/img/line.png"></div>
        <div id="index_blog">
        
          <div class="index_blog_div">
              
                  <ul id="hot_blog">
                    {% for hot in hot_blog %}
                    <li class="blog_li">
                      <div class="blog_title" >
                        <div class="inline"><img style=" width: 48px;" src="/static/img/blog_title.png" /></div>
                        <div class="inline" style="font-weight: 600;
    letter-spacing: 1px;">測試測試測試測試測試</div>
                      </div>
                      <div style="background:url({{hot.hot.url}});background-repeat: no-repeat;width:290px;height: 290px;background-size: cover">
                        <div class="blog_des">桃園藝文</div>
                      </div>
                      <div class="blog_world">
                      男士清爽油頭/柔和漸層線條男士清爽油頭/柔和漸層線條
                      </div>
                    </li>
                    {% endfor %}  
                  </ul>
          </div>
          <div class="click_button">
            <img id="click_more" style="width:180px;" src="/static/img/click_more.png" />
          </div>
        </div>
      </div>
  </div>
  <div class="section" id="section2" style="background-color: white;">
    <header class="page-index-title">
            <h1 class="index_h1">熱門設計師</h1>
        </header>
        <div><img class="title_img" src="/static/img/line.png"></div>
    <div id="container" class="cf">
  <div id="main" role="main">
      <section  class="slider">
        <div id="slider_hot" class="flexslider carousel" style="    z-index: 999;">
          <ul class="slides">
            {% for hot in hot_result %}
            <li class="slides_li">
              <div>
                <img name="hot_img" style="margin: 0 auto; width:95%" src="{{hot.hot.url}}" />
                <div class="book_now">立即預約</div>
              </div>
              <div class="index_hot_des_title">
                <div class="hot_title_div" style="padding-left:10px;">{{hot.title}}</div>
                <div class="hot_title_div" style="width:42%"></div>
                <div class="hot_title_div">
                  <img style="width: 26px" src="/static/img/ig.png" />
                </div>
                <div class="hot_title_div">
                  <img style="width: 26px" src="/static/img/fb.png" />
                </div>
                <div class="hot_title_div">
                  <img style="width: 29px" src="/static/img/linee.png" />
                </div>
              </div>
              <div class="index_hot_des">{{hot.des}}</div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
  </div>
  </div>
  </div>
  <div class="section" id="section3">
      <header class="page-index-title">
            <h1 class="index_h1">服務據點</h1>
        </header>
        <div><img class="title_img" src="/static/img/line.png"></div>
    <div style="padding-top:2%" id="container" class="cf">
  <div id="main" role="main">
      <section  class="slider">
        <div id="slider_map" class="flexslider carousel">
          <ul class="slides">
            {% for map in map_result %}
            <li class="slides_li" style="margin-bottom: 10px;">
              <div>
                <img style="width:100%" src="{{map.map_img.url}}" />
              </div>
              <div class="index_hot_des_title">
                <div class="map_title_div" style="padding-left:10px;">{{map.title}}</div>
                <div class="hot_title_div" style="width:32%"></div>
                <div class="hot_title_div">
                  <img style="padding-left: 0px;width: 26px;height:26px;" src="/static/img/fb.png" />
                </div>
                <div class="hot_title_div">
                  <img style="width: 26px;height:26px;" src="/static/img/map.png" />
                </div>
              </div>
              <div class="index_hot_des">{{map.des}}</div>
              <div class="index_hot_des">/ 預約專線 (02)1234-5678</div>
            </li> 
            {% endfor %}
          </ul>
        </div>
      </section>
  </div>
  </div>
    <div class="footer">
        <div class="copyright">© 2019 WHY Salon Hair All rights reserved</div>
    </div>
  </div>
  </div>
  </div>
</div>


<script src="{% static "js/jquery-1.10.2.min.js"%}?v={{timestamp}}"></script>
<script src="{% static "js/fullpage.js"%}?v={{timestamp}}"></script>
<script src="{% static "js/jquery.flexslider.js"%}?v={{timestamp}}"></script>
<script type="text/javascript">
  var space = [1, 2, 3];
  var myFullpage = new fullpage('#fullpage', {
    anchors:['one', 'two', 'three', "four"],
    scrollingSpeed:1500,
    fadingEffect:true,
    sectionsColor: ['#f2f2f2', 'white', 'white', 'white', 'white'], menu: '#menu', 
    afterLoad : function(origin, destination, direction){
      var loadedSection = this;
      //using index
      for (key in space) {
        if(destination.index==0) {
          $(".back_top").hide()
          $(".index_font"+ space[key]).hide()
          $(".index_font"+ space[key]).fadeIn()
          if(space[key] == 1) {
            var top = "24%"
          } else if(space[key] == 2) {
            var top = "35%"
          } else {
            var top = "37%"
          }
          $( ".index_font" + space[key]).animate({
            top: top,
          }, 400 )
        } else {
          $(".back_top").fadeIn()
          if(space[key] == 1) {
            var top = "0px"
          } else if(space[key] == 2) {
            var top = "74%"
          } else {
            var top = "77%"
          }
          $( ".index_font" + space[key]).animate({
            top: top,
          }, 1 )
          $(".index_font"+ space[key]).hide()
        }

      }
      $("#menu").fadeIn()
      if(destination.index != 0) {
        $("#menu li").css({"background":"white"})
        $("#menu li a, #menu li.active a").css("color","#1f1f1f")
        $("#logo").attr('src','/static/img/logo_black.png')
      } else {
        $("#menu li").css({"background":"#1f1f1f"})
        $("#menu li a, #menu li.active a").css("color","white")
        $("#logo").attr('src','/static/img/logo.png')
      }
    }, 
    onLeave  : function(origin, destination, direction){
      $("#menu").hide()
      $(".back_top").hide()
    }
  });
  $( document ).ready(function() {
    $("div[name='sub_menu']").hide()
    $("img[name='hot_img']").hover(function() {
      $(this).next().animate({
          opacity: "0.9",
        }, 600 )
    }, function() {
      $(this).next().animate({
          opacity: "0",
        }, 600 )
    })

    for( key in space) {
      $(".index_font" + space[key]).hide()
      $(".index_font" + space[key]).fadeIn()
      if(space[key] == 1) {
        var top = "24%"
      } else if(space[key] == 2) {
        var top = "35%"
      } else {
        var top = "37%"
      }
      $( ".index_font"  + space[key]).animate({
          top: top,
        }, 600 )
    }

    $("#click_more").hover(function() {
      $(this).attr("src", "/static/img/click_more_black.png")
    }, function() {
      $(this).attr("src", "/static/img/click_more.png")
    })

    $("#index3").hover(function() {
      $(this).attr("src", "/static/img/index3_black.png")
    }, function() {
      $(this).attr("src", "/static/img/index3.png")
    })

    $("#menu li").hover( function() {
      console.log($( this ).children().length)
      var index = fullpage_api.getActiveSection()["index"]
      var css_class = ""
      if(index == 0) {
        css_class = "select_menu"
      } else {
        css_class = "select_menu_black"
      }
      $( this ).children().eq(1).addClass(css_class)
      if($( this ).children().length > 2) {
        $( this ).children().last().fadeIn()
      }
    }, function() {
      console.log($( this ))
      var index = fullpage_api.getActiveSection()["index"]
      var css_class = ""
      if(index == 0) {
        css_class = "select_menu"
      } else {
        css_class = "select_menu_black"
      }
      $( this ).children().eq(1).removeClass(css_class)
      $("div[name='sub_menu']").hide()
    } )
  });
  

  // store the slider in a local variable
  var $window = $(window);
  var flexslider;
  var map_flexslider;

  // tiny helper function to add breakpoints
  function getGridSize() {
           
        if(window.innerWidth > 999) {
          return 4
        } else {
          return 1
        }
  }

  $window.load(function() {
    $('#slider_hot').flexslider({
      animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize(), // use function to pull in initial value
      start: function(slider) {
        flexslider = slider;
      }
    });

    $('#slider_map').flexslider({
      animation: "slide",
        animationLoop: false,
        itemWidth: 210,
        itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize(), // use function to pull in initial value
      start: function(slider) {
        map_flexslider = slider;
      }
    });

    $(".book_now").css({"opacity":"0"})
    //$("#index_hot").css({"position": "absolute","top": "0px"})
    $(".back_top").click(function() {
      fullpage_api.moveTo(1);
    })
  });

 

</script>
</body>
</html>